html,body{
//    font-family: 'PT Sans', sans-serif;
    @font-face {
        font-family: 'PT Sans', sans-serif; 
        src: url(fonts/pt-sans.ttf); 
    }
    margin: 0;
    padding: 0;
    width: 100vw;
    font-size: 85px;
    overflow-x: hidden;
}

.container__left{
    background-color: white;
    max-width: 43.75%;
    float: left;
}

.container__right{
    float: right;
    max-width: 56.25%;
    background-color: white;
}

.left{
    float:left;
}

.right{
    float:right;
}

.topic{
    float:left;
    width:100%;
}

.mainCircle{
    fill:#3d6cb0;
}
  
.secondCircle{
    fill:white;
    stroke:#3d6cb0;
    stroke-width:0.15vh;
}

.whiteCircle{
    fill:white;
}

.grayCircle{
    fill:#e6e6e6;
}

.title{
    font-size:0.69rem;
    color:#3d6cb0;
    font-weight: bold;
    float:left;
}

.line{
    float:left;
    stroke:#3d6cb0; 
    stroke-width:0.1rem;
}

.clearfix:after {
    content: "."; 
    display: block;  
    clear: both;  
    visibility: hidden; 
    height: 0;  
}

.img{
    width:0px;
    height:0px;
    transform:scale(0.15,0.15) translate(599px,519px);

}

@media screen and (max-width: 1680px)
{
    html,body{
      font-size:60px;
  }
}

@media screen and (max-width: 1340px)
{
    html,body{
      font-size:40px;
  }
}

@media screen and (max-width: 1120px)
{
    html,body{
      font-size:40px;
  }
  .container__left{
      max-width:100%;
  }
  .container__right{
      max-width:100%;
  }
}

@media screen and (max-width: 620px)
{
    html,body{
      font-size:20px;
  }
  .container__left{
      max-width:100%;
  }
  .container__right{
      max-width:100%;
  }
}