div(class="contact left")
    div(class="topic")
        svg(class="contact__svgCircle")
            circle(class="secondCircle" r="30.4%" cx="71.7%" cy="37.3%")
            circle(class="mainCircle" r="27.6%" cx="71.7%" cy="37.3%")
    div(class="img")
        img(src="img/telephone-handle-silhouette_icon-icons.com_73380.svg")
    span(class="contact__title title") CONTACT
    div(class="contact__line")
    span(class="contact__text contact__add clearfix")
        span(class=contact__text-bb) ADDRESS   Main Street, City.
    span(class="contact__text contact__mail clearfix ")
        span(class=contact__text-bb) E-MAIL    contact@domain.com
    span(class="contact__text contact__phone clearfix")
        span(class=contact__text-bb) PHONE     555-555-555
    span(class="contact__text contact__web clearfix")
        span(class=contact__text-bb) WEBSITE   www.yourweb.com