div(class="profile left")
    div(class="topic")
        svg(class="profile__svgCircle")
            circle(class="secondCircle" r="30.6%" cx="72.8%" cy="56.9%")
            circle(class="mainCircle" r="27.7%" cx="72.8%" cy="56.9%")
            circle(class="whiteCircle" r="7.6%" cx="152px" cy="75px")
            circle(class="whiteCircle" r="14.2%" cx="152px" cy="110px")
            polygon(points="147,135 139,134 110,110 180,110 180,127 160,135" fill="#3d6cb0")

    span(class="profile__title title") PROFILE
    div(class="profile__line")
    div(class="profile__text")
        span(class="profile__span") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu <b>pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. </b>