.main__svgCircle{
    width:100%;
    height:52vh;
  }

.main__text{
    float:left;
    width:100%;
    text-align:center;
}

.main__text-name{
    padding-top:1.9%;
    padding-left:2.5%;
    font-size:0.9rem;
}

.main__text-surname{
    font-size:1rem;
    font-weight:bold;
    margin-top:-1.5%;
    padding-left:1%;
}

.main__text-prof{
    font-size:0.4rem;
    font-weight:bold;
    padding-top:1.5%;
    padding-left:2.5%;
}