div(class="main left")
    svg(class="main__svgCircle")
        circle(class="secondCircle" r="25.9%" cx="51.3%" cy="62.6%")
        circle(class="mainCircle" r="22.9%" cx="51.3%" cy="62.6%")
    div(class="main__text")
        span(class="main__text main__text-name") NAME HERE
        span(class="main__text main__text-surname") SURNAME
        span(class="main__text main__text-prof") GRAPHIC DESIGNER