div(class="experience right")
    div(class="topic")
        svg(class="experience__svgCircle")
            circle(class="secondCircle" r="38.4%" cx="52.5%" cy="48%")
            circle(class="mainCircle" r="34.7%" cx="52.5%" cy="48%")
            circle(class="secondCircle" r="11.5%" cx="78px" cy="59px")
            circle(class="mainCircle" r="8.1%" cx="78px" cy="59px")
            rect(x="48" y="58" width="60" height="44" fill="white")

        span(class="experience__title title") EXPERIENCE
        div(class="experience__line")

    div(class="experience__p")
        svg(class="experience__p-svgCircle")
            circle(r="6.5%" cx="17.7%" cy="43.5%")
        span(class="experience__p-name") COMPANY NAME
        span(class="experience__p-date") // Feb 2011 - Jun 2014
        span(class="experience__p-job") YOUR JOB HERE
        span(class="experience__p-text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

    div(class="experience__p")
        svg(class="experience__p-svgCircle")
            circle(r="6.5%" cx="17.7%" cy="43.5%")
        span(class="experience__p-name") COMPANY NAME
        span(class="experience__p-date") // Feb 2011 - Jun 2014
        span(class="experience__p-job") YOUR JOB HERE
        span(class="experience__p-text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

    div(class="experience__p")
        svg(class="experience__p-svgCircle")
            circle(r="6.5%" cx="17.7%" cy="43.5%")
        span(class="experience__p-name") COMPANY NAME
        span(class="experience__p-date") // Feb 2011 - Jun 2014
        span(class="experience__p-job") YOUR JOB HERE
        span(class="experience__p-text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                    