.skills__svgCircle{
    float:left;
    width:208px;
    margin-top:4.4%;
}

.skills__title{
    margin-top:6.8%;
    padding-left:1.1%;
}

.skills__line{
    width: 35.9%;
    background:#3d6cb0; 
    float:left;
    margin-top:10.5%;
    margin-left:1.1%;
}
.skills__line:before{
    content: "";
    display: block;
    padding-top:2.9%;
}

.skills__block{
    float:left;
    width:100%;
    margin-bottom:-10.6%;
    margin-top:-0.3%;
    padding-left:1.4%;
}

.skills__block-text{
    text-align: center;
    font-size:0.45rem;
    float:left;
    width:100%;
    margin-top:0.05%;
}

.skills__block-svg{
    float:left;
    width:100%;
    padding-left:8.3%;
    padding-top:1.7%;
}