div(class="skills left")
    div(class="topic")
        svg(class="skills__svgCircle")
            circle(class="secondCircle" r="30.4%" cx="71.7%" cy="37.9%")
            circle(class="mainCircle" r="27.6%" cx="71.7%" cy="37.9%")
            circle(class="whiteCircle" r="12.9%" cx="149px" cy="47px")
            circle(class="whiteCircle" r="7%" cx="149px" cy="65px")
            rect(x="138" y="80" width="23" height="9" rx=4 fill="white")
        span(class="skills__title title") SKILLS
        div(class="skills__line")

    div(class="skills__block")
        span(class="skills__block-text") CREATIVE
        svg(class="skills__block-svg")
            circle(class="mainCircle" r="2.25%" cx="11.6%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="16.7%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="21.9%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="26.8%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="31.9%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="37.4%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="42.4%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="47.4%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="52.4%" cy="9.8%")
            circle(class="grayCircle" r="2.25%" cx="57.5%" cy="9.8%")
            circle(class="grayCircle" r="2.25%" cx="63.0%" cy="9.8%")
            circle(class="grayCircle" r="2.25%" cx="68.0%" cy="9.8%")

    div(class="skills__block")
        span(class="skills__block-text") TEAMWORK
        svg(class="skills__block-svg")
            circle(class="mainCircle" r="2.25%" cx="11.6%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="16.7%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="21.9%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="26.8%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="31.9%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="37.4%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="42.4%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="47.4%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="52.4%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="57.4%" cy="9.8%")
            circle(class="mainCircle" r="2.25%" cx="62.8%" cy="9.8%")
            circle(class="grayCircle" r="2.25%" cx="67.9%" cy="9.8%")

    div(class="skills__block")
        span(class="skills__block-text") INNOVATE
        svg(class="skills__block-svg")
            circle(class="mainCircle" r="2.25%" cx="11.6%" cy="10.8%")
            circle(class="mainCircle" r="2.25%" cx="16.7%" cy="10.8%")
            circle(class="mainCircle" r="2.25%" cx="21.7%" cy="10.8%")
            circle(class="mainCircle" r="2.25%" cx="26.8%" cy="10.8%")
            circle(class="mainCircle" r="2.25%" cx="31.8%" cy="10.8%")
            circle(class="mainCircle" r="2.25%" cx="37.2%" cy="10.8%")
            circle(class="grayCircle" r="2.25%" cx="42.3%" cy="10.8%")
            circle(class="grayCircle" r="2.25%" cx="47.3%" cy="10.8%")
            circle(class="grayCircle" r="2.25%" cx="52.5%" cy="10.8%")
            circle(class="grayCircle" r="2.25%" cx="57.5%" cy="10.8%")
            circle(class="grayCircle" r="2.25%" cx="62.9%" cy="10.8%")
            circle(class="grayCircle" r="2.25%" cx="68.0%" cy="10.8%")

    div(class="skills__block")
        span(class="skills__block-text") COMMUNICATION
        svg(class="skills__block-svg")
            circle(class="mainCircle" r="2.25%" cx="11.6%" cy="9.2%")
            circle(class="mainCircle" r="2.25%" cx="16.7%" cy="9.2%")
            circle(class="mainCircle" r="2.25%" cx="21.8%" cy="9.2%")
            circle(class="mainCircle" r="2.25%" cx="26.8%" cy="9.2%")
            circle(class="mainCircle" r="2.25%" cx="31.8%" cy="9.2%")
            circle(class="mainCircle" r="2.25%" cx="37.2%" cy="9.2%")
            circle(class="mainCircle" r="2.25%" cx="42.3%" cy="9.2%")
            circle(class="mainCircle" r="2.25%" cx="47.3%" cy="9.2%")
            circle(class="mainCircle" r="2.25%" cx="52.4%" cy="9.2%")
            circle(class="mainCircle" r="2.25%" cx="57.4%" cy="9.2%")
            circle(class="mainCircle" r="2.25%" cx="62.9%" cy="9.2%")
            circle(class="grayCircle" r="2.25%" cx="68.0%" cy="9.2%")