.software__svgCircle{
    float:left;
    width:151px;
    margin-top:9.3%;
    margin-bottom:0.3%;
}

.software__title{
    margin-top:11.8%;
    padding-left:0.8%;
}

.software__line{
    width: 41.3%;
    background:#3d6cb0; 
    float:left;
    margin-top:14.5%;
    margin-left:2.2%;
}
.software__line:before{
    content: "";
    display: block;
    padding-top:1.8%;
}

.software__text{
    font-size:0.43rem;
    float:left;
    width:70%;
    padding-left:5.5%;
    padding-top:0.9%;
}

.software__block-l{
    float:left;
    width:50%;
    margin-bottom:3.1%;
}

.software__block-r{
    float:right;
    width:49.9%;
    margin-bottom:3.2%;
}

.software__rect1{
    width: 73.3%;
    background:#3d6cb0;
    margin-left:5.6%;
    float:left;
    margin-top:4.1%;
}
.software__rect1:before{
    content: "";
    display: block;
    padding-top:8.7%;
}

.software__rect2{
    width: 7%;
    background:#e6e6e6;
    float:left;
    margin-top:4.1%;
}
.software__rect2:before{
    content: "";
    display: block;
    padding-top:89.5%;
}

.software__rect3{
    width: 66.9%;
    background:#3d6cb0;
    margin-left:5.6%;
    float:left;
    margin-top:3.9%;
}
.software__rect3:before{
    content: "";
    display: block;
    padding-top:9.7%;
}

.software__rect4{
    width: 13.5%;
    background:#e6e6e6;
    float:left;
    margin-top:3.9%;
}
.software__rect4:before{
    content: "";
    display: block;
    padding-top:48.1%;
}

.software__rect5{
    width: 56.8%;
    background:#3d6cb0;
    margin-left:5.6%;
    float:left;
    margin-top:3.6%;
}
.software__rect5:before{
    content: "";
    display: block;
    padding-top:11.4%;
}

.software__rect6{
    width: 23.5%;
    background:#e6e6e6;
    float:left;
    margin-top:3.6%;
}
.software__rect6:before{
    content: "";
    display: block;
    padding-top:26.6%;
}


.software__rect7{
    width: 49.5%;
    background:#3d6cb0;
    margin-left:5.6%;
    float:left;
    margin-top:3.6%;
}
.software__rect7:before{
    content: "";
    display: block;
    padding-top:12.9%;
}

.software__rect8{
    width: 30.5%;
    background:#e6e6e6;
    float:left;
    margin-top:3.6%;
}
.software__rect8:before{
    content: "";
    display: block;
    padding-top:20.8%;
}

.software__rect9{
    width: 45.4%;
    background:#3d6cb0;
    margin-left:5.6%;
    float:left;
    margin-top:2.9%;
}
.software__rect9:before{
    content: "";
    display: block;
    padding-top:14.1%;
}

.software__rect10{
    width: 34.6%;
    background:#e6e6e6;
    float:left;
    margin-top:2.8%;
}
.software__rect10:before{
    content: "";
    display: block;
    padding-top:18.55%;
}

.software__rect11{
    width: 72.9%;
    background:#3d6cb0;
    margin-left:5.6%;
    float:left;
    margin-top:2.6%;
}
.software__rect11:before{
    content: "";
    display: block;
    padding-top:8.6%;
}

.software__rect12{
    width: 6.9%;
    background:#e6e6e6;
    float:left;
    margin-top:2.6%;
}
.software__rect12:before{
    content: "";
    display: block;
    padding-top:91.1%;
}