div(class="software right")
    div(class="topic")
        svg(class="software__svgCircle")
            circle(class="secondCircle" r="37.4%" cx="50.6%" cy="38.8%")
            circle(class="mainCircle" r="33.9%" cx="50.6%" cy="38.8%")
            rect(x="47" y="32" width="56" height="36" rx="7" fill="white")
            rect(x="51" y="36" width="48" height="28" rx="5" fill="#3d6cb0")
            polygon(points="48,73 103,73 109,84 41,84 " fill="white")
        span(class="software__title title") SOFTWARE
        div(class="software__line")

    div(class="software__block-l")
        span(class="software__text") PHOTOSHOP
        div(class="software__rect1")
        div(class="software__rect2")

    div(class="software__block-r")
        span(class="software__text") DREAMWEAVER
        div(class="software__rect3")
        div(class="software__rect4")

    div(class="software__block-l")
        span(class="software__text") ILLUSTRATOR
        div(class="software__rect5")
        div(class="software__rect6")

    div(class="software__block-r")
        span(class="software__text") AFTER EFFECTS
        div(class="software__rect7")
        div(class="software__rect8")

    div(class="software__block-l")
        span(class="software__text") INDESIGN
        div(class="software__rect9")
        div(class="software__rect10")

    div(class="software__block-r")
        span(class="software__text") HTML/CSS3
        div(class="software__rect11")
        div(class="software__rect12")