div(class="education right")
    div(class="topic")
        svg(class="education__svgCircle")
            circle(class="secondCircle" r="37.5%" cx="46.6%" cy="51%")
            circle(class="mainCircle" r="33.8%" cx="46.6%" cy="51%")
            polygon(points="68,40 78,67 107,68 83,85 93,111 69,94 46,110 54,84 31,68 60,67" fill="white")

        span(class="education__title title") EDUCATION
        div(class="education__line")


    div(class="education__p")
        svg(class="education__p-svgCircle")
            circle(r="6.5%" cx="17.7%" cy="30.5%")
        span(class="education__p-master") MASTER DEGREE
        span(class="education__p-date ") // Feb 2011 - Jun 2014
        span(class="education__p-name ") UNIVERSITY NAME
        span(class="education__p-text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
    
    div(class="education__p")
        svg(class="education__p-svgCircle")
            circle(r="6.5%" cx="17.7%" cy="30.5%")
        span(class="education__p-master") MASTER DEGREE
        span(class="education__p-date ") // Feb 2011 - Jun 2014
        span(class="education__p-name ") UNIVERSITY NAME
        span(class="education__p-text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

    div(class="education__p")
        svg(class="education__p-svgCircle")
            circle(r="6.5%" cx="17.7%" cy="30.5%")
        span(class="education__p-master") MASTER DEGREE
        span(class="education__p-date ") // Feb 2011 - Jun 2014
        span(class="education__p-name ") UNIVERSITY NAME
        span(class="education__p-text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

    div(class="education__p")
        svg(class="education__p-svgCircle")
            circle(r="6.5%" cx="17.7%" cy="30.5%")
        span(class="education__p-master") MASTER DEGREE
        span(class="education__p-date ") // Feb 2011 - Jun 2014
        span(class="education__p-name ") UNIVERSITY NAME
        span(class="education__p-text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

    